[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
coloredlogs = "*"
humanize = "*"
aiosqlite = "*"
aioscheduler = "*"

[dev-packages]

[requires]
python_version = "3.8"
