[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coloredlogs = "*"
# https://github.com/jmoiron/humanize/pull/204
humanize = {git = "https://github.com/HexCodeFFF/humanize.git"}
aiosqlite = "*"
aioscheduler = "*"
python-twitter = "*"
docstring-parser = "*"
emojis = "*"
aiofiles = "*"
pillow = "*"
nextcord = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
