[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# dpy 2
"discord.py" = {git = "https://github.com/Rapptz/discord.py.git"}
coloredlogs = "*"
# https://github.com/jmoiron/humanize/pull/204
humanize = {git = "https://github.com/HexCodeFFF/humanize.git"}
aiosqlite = "*"
aioscheduler = "*"
python-twitter = "*"
docstring-parser = "*"
emojis = "*"

[dev-packages]

[requires]
python_version = "3.9"
